<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runzhe.ticket">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 名字label都要改 -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="12306"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="12306">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="登录"/>

        <activity
            android:name=".RegisterActivity"
            android:label="注册"/>

        <activity
            android:name=".InformationActivity"
            android:label="查询结果"/>

        <activity
            android:name=".BuyActivity"
            android:label="购买车票"/>

        <activity
            android:name=".AdminActivity"
            android:label="管理模式"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NewActivity"
            android:label="新建车次"/>
        <activity
            android:name=".New2Activity"
            android:label="新建站点"/>

    </application>

</manifest>